<!-- source /home/adam/ros-workspaces/hackathon_ws/devel/setup.bash -->
<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/video1" />
    <param name="pixel_format" value="yuyv" />
  </node>
  <node name="servo_controller" pkg="hackathon_project" type="servo-control.py" />
  <node name="image_converter" pkg="hackathon_project" type="opencv-webcam.py" />
</launch>
